.main {
    display: flex;
    background-color: black;
    color: white;
    height: 250px;
    width: 100%;
    justify-content: center;
    align-items: center;


}

.main h1 {
    font-size: 50px;
}

.main h6 {
    font-size: 20px;
}